 *{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* MARGEN BASICO */

 
   body {
       background: #0C2B40;   
       min-height: 100vh; 
       margin: 0%;
       padding: 0%;
       font: 4em Arial;
       color: #0FB8CE;
       font-size: 30px; 
       
      
}


   .header{
      background: #0C2B40;   
      min-height: 100vh; 
      margin: 0%;
      padding: 0%;
      background: url(Fondo.png);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;

}
 
   .article{
      background: #0C2B40;   
      min-height: 100vh; 
      margin: 0%;
      padding: 0%;
      background: url(Fondo2.png);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      margin-top: 10%;  

}

.articlemodelo1 {
   align-items: center;   
  
}


  .img {
     margin: 70px;
}

  .h1{
   font: 4em Arial;
   color: #0FB8CE;
   font-size: 63px;
   margin-top: 0%;
   margin-left: 100px;
    
}

  .TCP {
   border-radius: 2008px;
   margin-top: -50%;
   left: 850px;
   width: 400px;
   position: relative;
   box-shadow: 0 0 15px 5px rgba(15, 184, 206, 0.7);
 
}

 .ovalos-0 {
   width: 150px;
   height: 50px;
   border-radius: 108px;
   background: linear-gradient(to right, #0C3652, #0FB8CE);
   z-index: 2;
   transition: all 0.5s ease-in-out; 
   text-align: center;

   color: antiquewhite;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   box-shadow: 0 0 15px 5px rgba(15, 184, 206, 0.7);

   position: absolute; /* Posición absoluta */
   top: 80px; /* Distancia desde la parte superior */
   left: 960px; /* Valor fijo para la posición */
  


}

 .ovalos-0:hover{
   width: 190px;
   height: 65px;
   margin-top: 0%;
   top: 8%;
   left: 860px;
   text-align: center;
   box-shadow: 0 0 15px 5px rgba(15, 184, 206, 0.7);

}
 
 .ovalos-1 {
   width: 150px;
   height: 50px;
   border-radius: 108px;
   background: linear-gradient(to right, #0C3652, #0FB8CE);
   z-index: 2;
   transition: all 0.5s ease-in-out; 
   text-align: center;

   color: antiquewhite;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   box-shadow: 0 0 15px 5px rgba(15, 184, 206, 0.7);

   position: absolute; /* Posición absoluta */
   top: 200px; /* Distancia desde la parte superior */
   left: 760px; /* Valor fijo para la posición */
}

 .ovalos-1:hover{
   width: 190px;
   height: 65px;
   margin-top: 0%;
   top: 20%;
   left: 660px;
   text-align: center;
   box-shadow: 0 0 15px 5px rgba(15, 184, 206, 0.7);

}

 .ovalos-2 {
   width: 150px;
   height: 50px;
   border-radius: 108px;
   background: linear-gradient(to right, #0C3652, #0FB8CE);
   z-index: 2;
   transition: all 0.5s ease-in-out; 
   text-align: center;

   color: antiquewhite;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   box-shadow: 0 0 15px 5px rgba(15, 184, 206, 0.7);

   position: absolute; /* Posición absoluta */
   top: 400px; /* Distancia desde la parte superior */
   left: 760px; /* Valor fijo para la posición */

}

 .ovalos-2:hover{
   width: 190px;
   height: 65px;
   margin-top: 0%;
   top: 40%;
   left: 660px;
   text-align: center;
   box-shadow: 0 0 15px 5px rgba(15, 184, 206, 0.7);

}

 .ovalos-3 {
   width: 150px;
   height: 50px;
   border-radius: 108px;
   background: linear-gradient(to right, #0C3652, #0FB8CE);
   z-index: 2;
   transition: all 0.5s ease-in-out; 
   text-align: center;

   color: antiquewhite;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   box-shadow: 0 0 15px 5px rgba(15, 184, 206, 0.7);

   position: absolute; /* Posición absoluta */
   top: 520px; /* Distancia desde la parte superior */
   left: 960px; /* Valor fijo para la posición */

}

 .ovalos-3:hover{
   width: 190px;
   height: 65px;
   margin-top: 0%;
   top: 60%;
   left: 860px;
   text-align: center;
   box-shadow: 0 0 15px 5px rgba(15, 184, 206, 0.7);

}

 .ul {
   text-decoration: none; /* quitar rallita del enlace */ 
   text-align: center;
   font-size: 14px;
   margin: 40px;
   margin-top: 100px;
   display: inline-block;
   border: 1px solid #00A8E8; /* Borde azul claro */
   border-radius: 30px; /* Bordes redondeados */
   padding: 20px 50px;
   color: #00A8E8; /* Texto en color azul claro */
   background-color: transparent; /* Fondo transparente */
   font-family: Arial;
   text-transform: uppercase; /* transformacion a mayusculas */
   cursor: pointer; /* cursor encima intereccion */
   transition: background-color 0.3s ease;
  
   
}
  .ul:hover{
   font-size: 20px;
   background-color: #00A8E8; /* Fondo azul claro al pasar el ratón */
   color: #fff; /* Texto blanco al pasar el ratón */

}

/*PORTADA TERMINADA */

 .lenguaje {
  font: 4em sans-serif;
   color: #0FB8CE;
   font-size: 43px;
   margin-top: 10%;
   margin-left: 0px;
   text-align: center;
   color: transparent;
   background-image: linear-gradient(90deg, rgb(47, 14, 214), #0ff, rgba(47, 14, 214));
   background-clip: text;
   -webkit-background-clip: text;
   animation: typing 4s steps(22), blink 0.75s step-end infinite;
   white-space: nowrap;
   overflow: hidden;
   letter-spacing: 3px;

}

.modelo{
   font-family: monospace;
   color: #0FB8CE;
   font-size: 32px;
   margin-top: 10%;
   margin-left: 10px;
   text-align: justify;


}

.Texto-0{
   font: 4em Arial;
   color: #0FB8CE;
   font-size: 18px;
   margin-top: 0%;
   margin-left: 50px;
   text-align: justify;
}

.youtube{
   margin-top: -25%;
   margin-left: 680px;
}

/*PRIMERA PREGUNTA*/


.modelo-1{
   font: 4em monospace;
   color: #0FB8CE;
   font-size: 43px;
   margin-top: 5%;
   text-align: center;


}

.Texto-1{
   margin-top: 0%;
   max-width: 1020px;
   margin:0 auto;
   text-align: center;
   font-size: medium;
   
   
}

.container{
  
  margin-top: -37%;
   display: flex;
   justify-content: center; /* Alinea horizontalmente */
   align-items: center;     /* Alinea verticalmente */
   flex-direction: column;  /* Coloca las imágenes una debajo de la otra */
   height: 100vh;           /* Ocupa toda la altura de la pantalla */
}

.container1{
  
   margin-top: -37%;
    display: flex;
    justify-content: center; /* Alinea horizontalmente */
    align-items: center;     /* Alinea verticalmente */
    flex-direction: column;  /* Coloca las imágenes una debajo de la otra */
    height: 100vh;           /* Ocupa toda la altura de la pantalla */
 }

 .container2{
  
   margin-top: -48%;
    display: flex;
    justify-content: center; /* Alinea horizontalmente */
    align-items: center;     /* Alinea verticalmente */
    flex-direction: column;  /* Coloca las imágenes una debajo de la otra */
    height: 100vh;           /* Ocupa toda la altura de la pantalla */
    margin-left: 70%;
  
 }

.card {
   position: relative;
   width: 300px;
   height: 350px;
   margin: 20px;
   align-items: center;
   
}

.card .face {
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   border-radius: 10px;
   overflow: hidden;
   transition: .5s;
}

.card .front {
   transform: perspective(600px) rotateY('0deg');
   box-shadow: 0 5px 10px rgb(20, 2, 36);
}

.card .front {
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;

}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover ;


}
.card .front h3{
  position: absolute; bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0,0,0,.4); 
  text-align: center;

}

.card .back {
   transform: perspective(600px) rotateY(180deg);
   background: rgb(3, 35, 54);
   padding: 15px;
   color: #f3f3f3;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   box-shadow: 0 5px 10px #000;
   font-size: 20px;
}

.card .back h3 {
   font-size: 30px;
   margin-top: 20px;
   letter-spacing: 2px;
}

.card .back p {
   letter-spacing: 1px;
} 

.card:hover .front {
   transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
   transform: perspective(600px) rotateY(360deg);
}

.video{
   margin-left: 30%;
}

/*SSEGUNDA PREGUNTA*/

.modelo-2{
   font: 4em monospace;
   color: #0FB8CE;
   font-size: 43px;
   margin-top: 10%;
   margin-left: 10px;
   text-align: justify;



}

.Texto-2{

   font: 4em Arial;
   color: #0FB8CE;
   font-size: 20px;
   margin-top: 0%;
   margin-left: 150px;
   text-align: justify;
}

.osi {
   border-radius: 40%;
   margin-top: -25%;
   margin-left: 930px;
   box-shadow: 0 0 15px 5px rgba(20, 9, 41, 0.7);
   height: 250px;
   width: 500px;

}

/*TERCERA PREGUNTA*/

.modelo-3{
   font: 4em monospace;
   color: #0FB8CE;
   font-size: 43px;
   margin-top: 10%;
   margin-left: 0px;
   text-align: center;
   color: transparent;
   background-image: linear-gradient(90deg, rgb(47, 14, 214), #0ff, rgba(47, 14, 214));
   background-clip: text;
   -webkit-background-clip: text;
   animation: typing 4s steps(22), blink 0.75s step-end infinite;
   white-space: nowrap;
   overflow: hidden;
   letter-spacing: 3px;


}

.Texto-3{
   font: 4em Arial;
   color: #0FB8CE;
   font-size: 25px;
   margin-left: 50px;
   margin-top: 0%;
   max-width: 1020px;
   margin:0 auto;
   text-align: center;

}

/* titulo*/

.H1{
   font: 4em sans-serif;
   color: #0FB8CE;
   font-size: 43px;
   margin-top: 10%;
   margin-left: 0px;
   text-align: center;
   color: transparent;
   background-image: linear-gradient(90deg, rgb(47, 14, 214), #0ff, rgba(47, 14, 214));
   background-clip: text;
   -webkit-background-clip: text;
   animation: typing 4s steps(22), blink 0.75s step-end infinite;
   white-space: nowrap;
   overflow: hidden;
   letter-spacing: 3px;
}

/* Primer hito*/


.virus{
   font: 4em Arial;
   color: #0FB8CE;
   font-size: 29px;
   margin-top: 5%;
   text-align: center;
}

.virusito{
   font: 4em Arial;
   color: #c5d1d3;
   font-size: 23px;
   margin-top: 0%;
   margin-left: 10px; 

}

.cuadrado {
 margin-top: 10%;
 width: 600px;
 height: 200px;
 background: #0fb8ce5b;
 margin-left: 10px; 
 border-radius: 50px;
 transition: all 0.5s ease-in-out; 
}

.cuadrado:hover{
   width: 800px;
   height: 400px;
   
}

.creeper{
   width: 15%;
   height: 20%;
   opacity: 0;
   transition: all 0.5s ease-in-out; 
  
}

.cuadrado:hover .creeper {
   opacity: 1; /* Visible al hacer hover */
   margin-left: 40%;
}

/*2*/

.na{
   font: 4em Arial;
   color: rgb(0, 69, 112);
   font-size: 29px;
   margin-top: 5%;
   text-align: center;
}

.naps{
   font: 4em Arial;
   color: rgb(19, 66, 75);
   font-size: 23px;
   margin-top: 0%;
   margin-left: 10px; 
}

.cuadrado1 {
   margin-top: 10%;
   width: 650px;
   height: 250px;
   background: #fffdfd5b;
   margin-left: 45%; 
   border-radius: 50px;
   transition: all 0.5s ease-in-out; 
  }
  
  .cuadrado1:hover{
     width: 750px;
     height: 350px;
     
  }

  .napster{
   width: 60%;
   height: 40%;
   opacity: 0;
   transition: all 0.5s ease-in-out; 
  
}

.cuadrado1:hover .napster {
   opacity: 1; /* Visible al hacer hover */
   margin-left: 40%;
}


.mapa{
   width: 60%;
   height: 40%;
   opacity: 0;
   transition: all 0.5s ease-in-out; 
  
}

.cuadrado:hover .mapa {
   opacity: 1; /* Visible al hacer hover */
   margin-left: 20%;
}

.libro{
   width: 30%;
   height: 30%;
   opacity: 0;
   transition: all 0.5s ease-in-out; 
  
}

.cuadrado:hover .libro {
   opacity: 1; /* Visible al hacer hover */
   margin-left: 20%;
}

.N{
   width: 40%;
   height: 20%;
   opacity: 0;
   transition: all 0.5s ease-in-out; 
  
}

.cuadrado1:hover .N {
   opacity: 1; /* Visible al hacer hover */
   margin-left: 40%;
}

.napster{
   width: 60%;
   height: 40%;
   opacity: 0;
   transition: all 0.5s ease-in-out; 
  
}

.cuadrado:hover .napster {
   opacity: 1; /* Visible al hacer hover */
   margin-left: 40%;
}

.footer {
   margin-top: 10%;
   position: relative;
   width: 100%;
   background: #072c64ac;
   min-height: 100px;
   padding: 20px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 
 .menu {
   display: flex;
   justify-content: center;
   position: relative;
   align-items: center;
   margin: 10px 0;
   flex-wrap: wrap;
 }
 
 .menu-elem {
   list-style: none;
 }
 .menu-icon {
   color: white;
   font-size: 20px;
   display: inline-block;
   text-decoration: none;
   margin: 5px 10px;
   opacity: 0.5;
   transition: 0.3s;
 }
 
 .menu-icon:hover {
   opacity: 1;
 }
 
 .text {
   color: white;
   text-align: center;
   margin-top: 15px;
   margin-bottom: 10px;
   font-size: 20px;
 }

 .modal {
   display: none; /* Oculto por defecto */
   position: fixed;
   z-index: 1; /* Sitúa el modal sobre otros elementos */
   left: 0;
   top: 0;
   width: 100%; /* Ancho completo */
   height: 100%; /* Alto completo */
   overflow: auto; /* Habilita el desplazamiento si es necesario */
   background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad */
}

.modal-content {
   background-color: #fff;
   margin: 15% auto; /* Centrar el modal */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Ancho del modal */
}

.close-modal {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
   cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
   color: black;
   text-decoration: none;
}

/* Mostrar el modal cuando el checkbox está marcado */
.modal-toggle:checked + .modal {
   display: block;
}

.botonxd{
   width: 60px;
   height: 60px;
}